*{margin: 0;
    padding: 0;}
   
    header{
        background-color: #0fc1e0;
        color: white;
        display: flex;
        justify-content: space-around;
        padding: 24px 0;
   
    }

.cabecalho-lista-item{
display: inline-block;
margin: o 20px;
padding: 10px 0;
font-size: 24px;